# Database Configuration
MONGODB_URI=mongodb://root:password@mongo:27017/simple_ecommerce?authSource=admin

# Cache Configuration  
REDIS_HOST=redis
REDIS_PORT=6379

# Message Queue Configuration
RABBITMQ_URL=amqp://admin:password@rabbitmq:5672

# Security Configuration
JWT_SECRET=bYNUNQtMm5mEoag5Ra5i084jcFo/l3Fb04bzzpsyBMxvwveT4QTNRBHb7mKSUi1WASh1PYTVmA5G5h3od8Zabw==

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=AKIA5YJ5TWEXMEGWMJO6
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-south-1
S3_BUCKET_NAME=bibhishan-ecommerce-store

# Email Configuration
EMAIL_USER=bibhishandhagate@gmail.com
EMAIL_PASSWORD=uhdxvsltvxjcaswf

# Application Configuration
PORT=5000
NODE_ENV=development
#s3bucket url for images
HEADPHONES_IMAGE_URL=https://bibhishan-ecommerce-store.s3.ap-south-1.amazonaws.com/products/headphones.jpg
SMARTWATCH_IMAGE_URL=https://bibhishan-ecommerce-store.s3.ap-south-1.amazonaws.com/products/smartwatch.jpg
LAPTOPSTAND_IMAGE_URL=https://bibhishan-ecommerce-store.s3.ap-south-1.amazonaws.com/products/laptop-stand.jpg
